.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  .circle-section-bg {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .circle {
      position: absolute;
      border-radius: 50%;
      box-shadow: 0 4px 8px 2px rgba(255, 255, 255, 0.2);

      &:nth-child(1) {
        width: 500rpx;
        height: 500rpx;
        animation: showFirst 1.5s ease forwards;
        background: linear-gradient(-45deg, #ffa509 0%, #bb46ab 90%);
      }

      &:nth-child(2) {
        top: 150rpx;
        right: -300rpx;
        width: 300rpx;
        height: 300rpx;
        animation: showSec 1.5s ease .5s forwards;
        background: linear-gradient(-45deg, #4FD5F5 0%, #E8ABF9 80%);
      }

      &:nth-child(3) {
        bottom: -1600rpx;
        left: 50%;
        transform: translateX(-50%);
        width: 1600rpx;
        height: 1600rpx;
        animation: showThr 1.5s ease 1s forwards;
        background: linear-gradient(-75deg, #6d78ff 0%, #00ffb8 100%);
      }
    }
  }

  .content-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 64rpx;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backdrop-filter: saturate(180%) blur(1rem);
    background-color: rgba(255,255,255,0.3);

    .scan-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      box-sizing: border-box;

      .nfc-title {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 3rem;
        font-weight: bold;
        background: linear-gradient(140deg, #000 0%, #804400 100%);
        background-position: 50% 75%;
        background-size: 100% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        animation: showContent 1.5s ease 1.5s forwards;
      }

      .model-selection {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        padding: .5rem;
        border-radius: .5rem;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 6px 20px 6px rgba(0, 191, 255, 0.2);
        opacity: 0;
        animation: showContent 1.5s ease 2s forwards;

        .picker {
          display: flex;
          align-items: center;

          .icon {
            margin-left: .25rem;
            width: 32rpx;
            height: 32rpx;
          }
        }
      }

      .scan-btn {
        position: relative;
        margin-bottom: 3rem;
        border-radius: 50%;
        opacity: 0;
        animation: showContent 1.5s ease 1.5s forwards;

        .circle-color {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 350rpx;
          height: 350rpx;
          background: linear-gradient(-45deg, #ff7b00 0%, #ffd900 100%);
          box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3) inset, -10px -10px 10px rgba(255, 81, 0, 0.3) inset;

          &:active {
            background: linear-gradient(-135deg, #ff7b00 0%, #ffd900 100%);
            box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.3) inset, 10px 10px 10px rgba(255, 81, 0, 0.3) inset;
          }

          .scan-icon {
            width: 100rpx;
            height: 100rpx;
            animation: scaleNormal 3s ease infinite;
          }

          &.start {
            animation: startScaleBtn 3s ease infinite;

            .scan-icon {
              animation: startScale 3s ease infinite;
            }
          }
          
          
          &:after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            background: inherit;
            top: 0.25rem;
            filter: blur(16px);
            opacity: 0.9;
            z-index: -1;
          }
        }
      }

      .stop-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        bottom: 1.5rem;
        right: 0;
        padding: 12rpx;
        opacity: 0;
        transition: opacity .3s .3s;
        background: linear-gradient(-45deg, #ff1e00 30%, #ff7b00 100%);
        box-shadow: 2px 4px 10px 4px rgba(255, 30, 0, 0.4), 4px 4px 6px rgba(255, 255, 255, 0.4) inset, -4px -4px 6px rgba(156, 18, 0, 0.4) inset;

        &:active {
          background: linear-gradient(-135deg, #ff1e00 0%, #ff7b00 100%);
          box-shadow: 2px 4px 10px 4px rgba(255, 30, 0, 0.4), -4px -4px 6px rgba(255, 255, 255, 0.4) inset, 4px 4px 6px rgba(156, 18, 0, 0.4) inset;
        }

        &.show {
          opacity: 1;
        }

        .icon {
          width: 60rpx;
          height: 60rpx;
        }
      }
    }

    .send-section {
      position: relative;
      border-radius: 1.5rem;
      width: 100%;
      min-height: 220px;
      overflow: hidden;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 4px 20px 6px rgba(0, 191, 255, 0.1),-6px -6px 6px rgba(0, 191, 255, 0.2) inset;
      opacity: 0;
      animation: showContent 1.5s ease 2.5s forwards;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        font-weight: bold;
        line-height: 1;
        color: #5a3001;
        border-bottom: 1px solid #c8eaff;

        .total-box {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .count-item {
            display: flex;
            align-items: center;
            padding: 0 16rpx;
            border-right: 1px solid #c8eaff;

            &:last-child {
              border-right: none;
              padding-right: 0;
            }

            .icon {
              width: 24rpx;
              height: 24rpx;

              &.loading {
                width: 28rpx;
                height: 28rpx;
                margin-right: 8rpx;
              }

              &.fail {
                width: 20rpx;
                height: 20rpx;
              }
            }

            .number {
              margin-left: 12rpx;
            }
          }
        }
      }

      .number-box {
        padding: 0 1rem;
        height: calc(100% - 50px);
        box-sizing: border-box;
        transition: all .3s;

        .number-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          line-height: 1;
          max-height: 0;
          padding: .5rem 0;
          border-top: 1px solid #bee6ff;
          animation: showItem .5s ease forwards;

          &:first-child {
            border-top: none;
          }
          &:last-child {
            padding-bottom: 1.5rem;
          }

          .icon {
            width: 34rpx;
            height: 34rpx;

            &.fail {
              width: 28rpx;
              height: 28rpx;
            }

            &.loading {
              width: 36rpx;
              height: 36rpx;
              animation: rotate 1.5s linear infinite;
            }
          }
        }
      }
    }
  }

  @keyframes showFirst {
    0% {
      top: -100%;
      left: -100%;
    }
    100% {
      top: -100rpx;
      left: -20%;
    }
  }

  @keyframes showSec {
    0% {
      top: 150rpx;
      right: -300rpx;
    }
    100% {
      top: 150rpx;
      right: -150rpx;
    }
  }

  @keyframes showThr {
    0% {
      bottom: -1600rpx;
      left: 50%;
      transform: translateX(-50%);
    }
    100% {
      bottom: -1200rpx;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @keyframes showContent {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes showItem {
    0% {
      max-height: 0;
      opacity: .5;
      transform: translateX(-50%);
    }
    100% {
      max-height: 100rpx;
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes startScale {
    0%{ 
      transform: scale(1) rotate(0deg);
    }
    50%{ 
      transform: scale(1.8) rotate(180deg);
    }
    100%{ 
      transform: scale(1) rotate(360deg);
    }
  }
  @keyframes startScaleBtn {
    0%{ 
      transform: scale(1);
    }
    50%{ 
      transform: scale(1.1);
    }
    100%{ 
      transform: scale(1);
    }
  }

  @keyframes scaleNormal {
    0%{ 
      transform: scale(1);
    }
    100%{ 
      transform: scale(1);
    }
  }

  @keyframes rotate {
    0%{ 
      transform: none;
    }
    100%{ 
      transform: rotate(360deg);
    }
  }
}